body{
    font-family:arial;
}

.rotater {
  display: block;
  margin: 20px auto 0px auto;
  border: 3px solid black;
  height: 500px;
}

.buttonWrap {
  text-align: center;
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 20px;
}

.buttonWrap button {
  font-size: 20px;

}

.dotWrap {
  margin-top: 20px;
  text-align: center;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid black;
  background: yellow;
}






/* styles for firstProject.html */
.widget{
    background-color:black;
    width:500px;
    height:200px;
    margin:50px auto 0px auto;
}
.widget .left{
    float:left;
    width:300px;
    height:200px;
    background-color:purple;
}
.widget .right{
    float:left;
    width:200px;
    height:200px;
    background-color:red;
}

.widget .leftTop{
    height:140px;
    background-color:orange;
}
.widget .widgetHeader{
    padding-bottom:0px;
}
.widget ul#widgetList{
    list-style:none;
    margin:-15px 0px 0px 0px;
    padding:0px;
    height:110px;
    overflow:hidden;
    background-color:pink;
    overflow-y:auto;
}

.widget ul#widgetList li{
    padding:5px;
    border:1px solid black;
    background-color:lightgray;
}
.widget ul#widgetList li h5{
    margin:0px; padding:0px;
    color:green;
    font-size:18px;
}
.widget ul#widgetList li p{
    margin:0px; padding:0px;

}








/* misc */
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
